@inherits LayoutComponentBase

<PageTitle>EmployeeManger</PageTitle>

<div class="page">
    <div class="sidebar bg-dark">
        <NavMenu/>
    </div>

    <main>
        <div class="top-row px-4">
            <a href="https://www.pluralsight.com/authors/thomas-huber" target="_blank">About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>
</div>